@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

html {
  color-scheme: light dark;
}

::selection {
  background-color: theme('colors.primary');
  color: theme('colors.white');
}

.dark ::selection {
  background-color: theme('colors.primary');
  color: theme('colors.black');
}

.bg-primary ::selection {
  background-color: theme('colors.white');
  color: theme('colors.primary');
}
