.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap .mention {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  box-decoration-break: clone;
}
