ENCRYPTION_KEY=
AUTH_SECRET=
POSTGRES_PASSWORD=infisical
POSTGRES_USER=infisical
POSTGRES_DB=infisical
DB_CONNECTION_URI=postgres://infisical:infisical@db:5432/infisical
REDIS_URL=redis://redis:6379
SITE_URL=http://localhost:8081
