VITE_PUBLIC_API_URL=https://api.local.tamery.app
VITE_PUBLIC_WEB_URL=https://app.local.tamery.app
VITE_PUBLIC_MAIN_URL=https://main.local.tamery.app
VITE_PUBLIC_PROXY_URL=https://proxy.local.tamery.app
VITE_PUBLIC_POSTHOG_TOKEN=
