VITE_PUBLIC_API_URL=https://api.local.conar.app
VITE_PUBLIC_WEB_URL=https://app.local.conar.app
VITE_PUBLIC_MAIN_URL=https://main.local.conar.app
VITE_PUBLIC_PROXY_URL=https://proxy.local.conar.app
VITE_PUBLIC_POSTHOG_TOKEN=
