API_URL=http://localhost:3000
MAIN_URL=http://localhost:3002
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/conar
ENCRYPTION_SECRET=example
BETTER_AUTH_SECRET=Rbuw5KIliGWJ7pVdCPHNFo2UX91xhQg8+GMXYNCqC/M=