name: Build and release

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.25.0

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build ToDesktop
        run: pnpm run build:todesktop
        env:
          TODESKTOP_ACCESS_TOKEN: ${{ secrets.TODESKTOP_ACCESS_TOKEN }}
          TODESKTOP_EMAIL: ${{ secrets.TODESKTOP_EMAIL }}
